python==3.10
streamlit==1.32.0
fastapi==0.109.0
uvicorn==0.27.0
requests==2.32.3
beautifulsoup4==4.12.2
pandas==2.2.1
python-dotenv==1.0.1
langchain-mistralai==0.2.8
langchain-core==0.3.45
nltk==3.9.1
yake==0.4.8
gtts==2.3.2
pydantic==2.6.1
deep-translator==1.11.4
